/* NAVBAR */
/* .navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: #020617;
  border-bottom: 1px solid #00ff9f;
} */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #00ff88;
  background: rgba(0, 255, 136, 0.05);
  position: relative; 
}

.logo {
  font-weight: bold;
  letter-spacing: 3px;
  color: #00ff88;
}

/* NAV LINKS */
.nav-links a {
  background: transparent;
  border: 1px solid #00ff9f;
  color: #00ff9f;
  padding: 6px 12px;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  transition: 0.2s;
}

.nav-links a:hover {
  background: #00ff9f;
  color: black;
}

/* ACTIVE STATE */
.nav-links a.active {
  background: #00ff9f;
  color: black;
}